.memberInfoDiv{
   border-radius: 10px;
   background: #EBEBEB;
   padding: 30px 50px 30px 40px;   
}

.searchDiv{
   width: 300px;
   margin:50px 0px 10px auto;
   padding: 12px 20px 12px 20px;
   border-radius: 67px;
   border: 1px solid #BABABA;
}
.searchContainer{
   width: 100%;
   display: flex;
}

.inputSearch{
   border:none;
}