.tabListDiv{
    display: flex;
    flex-direction: row;
    list-style-type: none;

    user-select: none;

    color: #464646;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tabListDiv li{
    padding: 10px;
    margin-right: 5px;

    cursor: pointer;
}

.tabListDiv2 li{
    padding: 10px;
    margin-right: 5px;
    
    border-bottom: 3px solid #F895A5;
}

.btnDiv4{
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%); 
    width: 80vw;


    border-radius: 10px;
    background: #F5687E;
    padding: 20px 30px 20px 30px;
    margin: 20px 20px 50px 20px;
 
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
    cursor: pointer;
 }

 .btnDiv4Disabled{
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%); 
    width: 80vw;

    border-radius: 10px;
    background: #727276;
    padding: 20px 30px 20px 30px;
    margin: 20px 20px 50px 20px;
 
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

 }