.tabListDiv{
    display: flex;
    flex-direction: row;
    list-style-type: none;

    user-select: none;

    color: #464646;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tabListDiv li{
    padding: 10px;
    margin-right: 5px;

    cursor: pointer;
}

.tabListDiv2 li{
    padding: 10px;
    margin-right: 5px;
    
    border-bottom: 3px solid #F895A5;
}

.btnDiv4{
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%); 
    width: 80vw;


    border-radius: 10px;
    background: #F5687E;
    padding: 20px 30px 20px 30px;
    margin: 20px 20px 50px 20px;
 
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
    cursor: pointer;
 }

 .btnDiv4Disabled{
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%); 
    width: 80vw;

    border-radius: 10px;
    background: #727276;
    padding: 20px 30px 20px 30px;
    margin: 20px 20px 50px 20px;
 
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

 }

 .QRContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .QRWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #727276;
    border-radius: 10px;
    margin: 15px 10px;
    padding: 20px;
    
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
 }
 .QRComponent{
    margin-top:10px;
 }

 .QRDownload{
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
 }

 .btnDiv5{
    width: 320px;
    border-radius: 10px;
    background: #F5687E;
    padding: 20px 30px 20px 30px;
    margin: 20px 0;
 
    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 
    cursor: pointer;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
 }